.artists {
  width: 1200px;
  margin-left: 280px;
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 22px;
}

/* CARD */
.card {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  background: #1b1b1b;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

/* Градиент снизу */
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

/* BADGES */
.badges {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 6px;
  z-index: 2;
}

.badge {
  background: rgba(0,0,0,0.75);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  color: #fff;
  backdrop-filter: blur(4px);
}

/* INFO */
.card-info {
  position: absolute;
  bottom: 12px;
  left: 14px;
  z-index: 2;
  color: white;
}

.card-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.card-info p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #cfcfcf;
}
