@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.brothers {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 120px;
    margin-left: 280px;
}
.image1 {
    position: absolute;
    width: 600px;
    height: 375px;
    border-radius: 20px;
}
.image2 {
    position: absolute;
    width: 600px;
    height: 375px;
    border-radius: 20px;
    left: 600px;
}

.images {
    position: absolute;
    width: 854px;
    height: 500px;
    top: -125px;
    z-index: 1;
    left: 164px;
}


.rig1 {
    position: absolute;
    background-color: #B8960CCC;
    z-index: 1;
    width: 600px;
    height: 375px;
    border-radius: 20px;
    
}
.rig3 {
    position: absolute;
    background-color: #000000D9;
    z-index: 1;
    width: 600px;
    height: 375px;
    border-radius: 20px;
    left: 600px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 335px;
    top: 210px;
}
.legend {
    color: #E7BC0F;
    font-size: 120px;
    font-family: "Forum", serif;
    font-weight: 400px;
}
.tom {
    font-size: 36px;
    font-weight: 500px;
    font-style: Medium;
}
.the {
    font-size: 18px;
    font-weight: 500px;
    font-style: Medium;
}
.ct {
  position: absolute;
  right: 25px;
  top: 30px;
  z-index: 1;
  align-self: flex-start;
  background: #f5c518;
  color: #000;
  border: none;
  padding: 10px 16px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
}

.ct:hover {
  filter: brightness(0.9);
}
.thes {
    position: absolute;
    z-index: 1;
    width: 245px;
    text-align: center;
    font-size: 24px;
    font-weight: 400px;
    color: #333333;
    font-family: "Forum", serif;
    top: 80px;
    left: 55px;
    font-family: "Bebas Neue", sans-serif;
}
.la {
    position: absolute;
    z-index: 1;
    font-size: 18px;
    font-weight: 400px;
    font-family: "Forum", serif;
    color: #333333;
    bottom: 270px;
    left: 130px;
    font-family: "Bebas Neue", sans-serif;

}
.fr {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    font-weight: 400px;
    font-family: "Forum", serif;
    color: #333333;
    bottom: 300px;
    left: 55px;
    font-family: "Bebas Neue", sans-serif;
}