.profile-container {
  margin-left: 280px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  color: white;
}

.profile-card {
  background: #111;
  border: 1px solid #222;
  border-radius: 14px;
  padding: 40px;
  width: 420px;
  color: #fff;
}

.profile-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
}

.profile-row {
  margin-bottom: 15px;
  font-size: 15px;
  color: #ccc;
}

.profile-value {
  color: #fff;
  font-weight: 500;
}