.card {
    position: relative;
    width: 192px;
    height: 263px;
    border-radius: 12px;
    background-color: #333;
    padding: 8px;
    /* margin-left: 240px; */
    
}

.card .image{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.card_rating {
    border-radius: 10px;
    background-color: #333;
    width: 74px;
    height: 28px;
    display: inline-flex;
    position: absolute;
    left: 14px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_fav {
    border-radius: 13px;
    background-color: #333;
    width: 38px;
    height: 38px;
    display: inline-flex;
    position: absolute;
    right: 14px;
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_bottom {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;        
  text-align: center; 

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 3px;
}

h3 {
    font-size: 20px;
}
.genres {
  font-size: 12px;
  color: #ffffff;
}
